body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header {    
    color:black;
    padding: 10px 0;
    text-align: center;
}
img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    float: left;

}
img:hover{
    transform: scale(1.2);
}
.welcome {
    background-color: #b5f3f56c;
    color: #000308;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #333;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: left;
}
section {
    margin: 20px;
    padding: 2rem;
}
form {
    margin: 20px;
    padding: 2rem;
    border: #000308;
    border-radius: 10px;
    

}
form input, form textarea, form button {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    border-radius: 15px;
    
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: ;
    padding: 20px;
    float:left
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #050505;
}
th {
    background-color: #070606;
    color: #f0f0f0;
}
.table-container {
    width: 80%; /* Adjust the width as needed */
    margin: 50px auto; /* This centers the container */
}
.go-back-link {
    margin-top:10px;
    position:absolute;
    bottom: 20px; /* Adjust the distance from the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    text-decoration: none; /* Remove underline */
    color: #011e3d; /* Link color */
    font-size: 16px; /* Adjust font size */
    background-color: aqua;
    border: 2px solid black;
    border-radius: 10px;
    padding: 12px;
}
.contact {
    background-color: #daebd9;
}
.button {
    background-color: yellow;
    border-radius: 15px ;
    padding: 10px;
    text-align: center;
    color: black;
}
.button:hover {
    background-color: #bce4e4;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}